<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masterblog</title>
</head>
<body>
  <h1>Masterblog</h1>
  <a href="{{ url_for('add') }}" class="add-button">Add New Post</a>

  {% for post in posts %}
  <div class="post">
    <h2>{{ post.title }}</h2>
    <p><strong>Author:</strong> {{ post.author }}</p>
    <p>{{ post.content }}</p>
    <p><small>ID: {{ post.id }}</small></p>
  </div>
{% endfor %}

</body>
</html>
